<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddItem(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 from-group">
                    <label for="name">Name</label>
                    <!-- <input type="text" id="name" class="form-control" #nameInput> -->
                    <input type="text" id="name" class="form-control" name="name" ngModel required>
                </div>
                <div class="col-sm-2 from-group">
                    <label for="amount">Amount</label>
                    <!-- <input type="number" min="0" id="amount" class="form-control" #amountInput> -->
                    <input type="number" min="0" id="amount" class="form-control" name="amount" ngModel required pattern="^[1-9]+[0-9]*$">
                </div>
            </div><br>
            <div class="row">
                <div class="col-xs-12">
                    <!-- <button class="btn btn-success" type="submit" style="margin-right: 3px;" (click)="onAddItem()">Add</button>  -->
                    <button class="btn btn-success" type="submit" style="margin-right: 3px;" [disabled]="!f.valid">Add</button> 
                    <button class="btn btn-danger" type="button" style="margin-right: 3px;" (click)="onDeleteItem()">Delete</button>
                    <button class="btn btn-primary" type="button" >clear</button>
                </div>
            </div>
        </form>
    </div>
</div>