<h3 style="text-transform: uppercase; color: teal;">solution:</h3>
<h2 style="text-align: center; text-transform: uppercase; text-decoration: underline;">Display details</h2>
<!-- <button class="btn btn-primary" (click) = "onDisplay = !onDisplay">Display Details</button> -->
<button class="btn btn-primary" (click) = "onDisplayDetails()">Display Details</button>

<p *ngIf = "onDisplay" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore repellat fugit dolorem amet voluptates numquam voluptas, quia ab ad? Maxime sunt delectus modi debitis iusto corrupti vero porro est laborum?</p>
<!-- Log all button clicks in an array and output that array below the secret paragraph (simply an incrementing number) -->
<!-- <div *ngFor = "let logItems of logItem" [ngStyle] = '{backgroundColor: logItems > 4 ? "blue" : "transparent"}' [ngClass]= '{"item": logItems > 4 }'>
    {{ logItems }}. hai this is shiva
</div> -->
<!-- Log all button clicks in an array and output that array below the secret paragraph (log a timestamp) -->
<div *ngFor = "let logItems of logItem; let i = index" [ngStyle] = '{backgroundColor: i >= 4 ? "blue" : "transparent"}' [ngClass]= '{"item": i >= 4 }'>
    hai this is shiva. {{ logItems }} 
</div>
<!-- <button class="btn btn-success" (click)="onDisplayDetails()">Display details</button>
<p *ngFor = "let logItems of logItem" [ngStyle]='{color: "bue" }' [ngClass]='{"item": logItem.length > 4}'>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at asperiores ab enim temporibus laudantium accusantium corporis officia, optio assumenda! Commodi nihil neque excepturi perferendis reiciendis facere, magnam sequi veniam?
</p> -->
