<div class="container">
  <div class="col-xs-12">
    <div class="row">
      <button class="btn btn-primary" (click)="onlyOdd=!onlyOdd">Only show odd/even numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li 
            class="list-group-item" 
            [ngStyle]="{backgroundColor:oddNumbers%2 !== 0 ? 'yellow':'transparent'}"
            [ngClass]="{odd:oddNumbers%2 !== 0 }"
            *ngFor="let oddNumber of oddNumbers">
            {{oddNumber}}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li 
            class="list-group-item" 
            [ngStyle]="{backgroundColor:evenNumber%2 !== 0 ? 'yellow':'transparent'}"
            [ngClass]="{odd:evenNumber%2 !== 0 }"
            *ngFor="let evenNumber of evenNumbers">
            {{evenNumber}}
          </li>
        </div> -->
        <!-- <ng-template [ngIf]="!onlyOdd">
          <div>
            <li 
            class="list-group-item" 
            [ngStyle]="{backgroundColor:evenNumber%2 !== 0 ? 'yellow':'transparent'}"
            [ngClass]="{odd:evenNumber%2 !== 0 }"
            *ngFor="let evenNumber of evenNumbers">
            {{evenNumber}}
            </li>
          </div>
        </ng-template> -->
        <div *appUnless="onlyOdd">
          <li 
            class="list-group-item" 
            [ngStyle]="{backgroundColor:evenNumber%2 !== 0 ? 'yellow':'transparent'}"
            [ngClass]="{odd:evenNumber%2 !== 0 }"
            *ngFor="let evenNumber of evenNumbers">
            {{evenNumber}}
          </li>
        </div>
      </ul>
      <p app-basic-highlight>
        styling me with basic-highlight
      </p>
      <!-- <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">
        styling me with better-highlight
      </p> -->
      <!-- <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'" >
        styling me with better-highlight
      </p> -->
      <p [appBetterHighlight]="'red'" defaultColor="yellow" >
        styling me with better-highlight
      </p>
    </div>
  </div>
</div>