<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
      <hr>
      <div class="row">
        <div class="col-xs-6 col-md-4 col-md-offset-2" style="text-align: center;">
          <h4>Counter to Active: {{counterService.counterToActive}}</h4> 
        </div>
        <div class="col-xs-6 col-md-4 col-md-offset-0" style="text-align: center;">
          <h4>Counter to Inactive: {{counterService.counterToInactive}}</h4>  
        </div>
      </div>
  </div>
</div>
